<%- contentFor('meta') %>
<title>Wishlist Index</title>

<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script>
  $(document).ready(function() {
    const setModal = function(html) {
      const $modal = $('#modal')
      const $modalContent = $modal.find('.modal-content')//<----- remember to console.log

      $modal.modal('show')
      $modalContent.html(html)
    }
    const setLoadingModal = function() {
      setModal(`
        <div class="modal-header">
          <h5 class="modal-title">Loading</h5>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <i class="fas fa-spinner fa-spin"></i>
          </div>
        </div>
      `)
    }

    ///  split line ==================================================================

    $('#wishlists-index').on('click', '.show-btn, .edit-btn, #new-btn', function(e) {              // <--- btn

      e.preventDefault()
      const $elem = $(e.target)
      const url = $elem.data('url')                               //<-----
      const method = $elem.data('method')                         //<-----//<----- remember to console.log

      setLoadingModal()

      console.log('$elem: ', $elem , 'method: ', method, 'url: ', url);

      axios({ method, url }).then(function(resp) {
        console.log('method: ', method, 'url: ', url, 'resp: ', resp);
        setModal(resp.data)
      })
    })
    $('#wishlists-index').on('click', '.delete-btn', function(e) {               //<-----
      e.preventDefault()
      const $elem = $(e.target)
      const url = $elem.data('url')                                            //<-----//<----- remember to console.log
      console.log('$elem: ',$elem, 'url: ', url);

      $('#wishlists-index .delete-btn').attr('disabled', true)                      //<-----

      axios({ method: 'DELETE', url }).then(function(resp) {
        $elem.parentsUntil('#wishlists-list').remove()                    //<-----
        console.log(('#elem: ', $elem, 'url: ', url, 'resp: ', resp));
      }).catch(function(err) {
        alert(err.response.data.message)
      }).then(function() {
        $('#wishlists-index .delete-btn').attr('disabled', false)              //<-----
      })
    })
    $('#modal').on('click', '#wishlist-form-submit', function(e) {                      //<-----
      e.preventDefault()
      const $elem = $(e.target)
      const url = $elem.data('url')//<-----
      const method = $elem.data('method')//<-----//<-----
      const formData = new FormData($('#modal form')[0])                        //<-----

      $elem.attr('disabled', true)                                                          //<----- remember to console.log

      axios({ method, url, data: formData }).then(function(resp) {
        setModal(resp.data)
        if (method === 'POST') {
          const id = $('#modal').find('.modal-title span').text()
          console.log(id);
          $('#wishlists-list').prepend(`
            <li class="my-1">
              <a class="show-btn font-weight-bold" data-url="/wishlists/${id}" data-method="GET">${id}</a>
              <button class="edit-btn btn btn-info btn-sm" data-url="/wishlists/${id}/edit" data-method="GET"><i class="fas fa-edit"></i></button>

              <form class="d-inline" action="/wishlists/${id}?_method=DELETE" method="POST">
                <button class="delete-btn btn btn-danger btn-sm" type="submit" data-url="wishlists/${id}"><i class="fas fa-trash"></i></button>
              </form>
            </li>
          `)
        }
      }).catch(function(err) {
        $elem.attr('disabled', false)
        const { response: { data: { errors } }} = err
        errors.forEach(function(error) {
          const { param: fieldName, msg } = error   //<----- remember to console.log

          const $input = $('#modal').find(`[name="${fieldName}"]`)
          const $invalidFeedback = $input.siblings('.invalid-feedback')
          $input.addClass('is-invalid')
          $invalidFeedback.text(msg)
        })
      })
    })
  })
</script>



<%- contentFor('body') %>
<div id="wishlists-index" class="container my-3 text-center">
  <h1 class="mb-3">Wishlists</h1>

  <a id="new-btn" class="btn btn-success btn-sm" data-url="/wishlists/new" data-method="GET">New</a>

  <% if (wishlists.length > 0) { %>
    <div class="mt-3">
      <form action="/wishlists" class="form-inline justify-content-center mb-3" method="GET">
        <div class="form-group mx-sm-3">
          <input type="text" class="form-control" placeholder="Search" name="q" value="<%= filters.q %> ">
        </div>
        <button type="submit" class="btn btn-primary mr-3">Search</button>
        <a href="/wishlists" class="btn btn-danger">Reset</a>
      </form>
    </div>



    <ul id="wishlists-list" class="list-unstyled">
      <% wishlists.forEach(function(wishlist){ %>
        <li class="my-1">
          <a class="show-btn font-weight-bold" data-url="/wishlists/<%= wishlist.id %>" data-method="GET"><%= wishlist.title %></a>


          <a class="edit-btn btn btn-info btn-sm" data-url="/wishlists/<%= wishlist.id %>/edit" data-method="GET"><i class="fas fa-edit"></i></a>


          <form class="d-inline" action="/wishlists/<%= wishlist.id %>?_method=DELETE" method="POST">
            <button class="delete-btn btn btn-danger btn-sm" type="submit" data-url="wishlists/<%= wishlist.id %>"><i class="fas fa-trash"></i></button>
          </form>
        </li>
        <% }) %>
    </ul>
<!-- origin: include("_partials/pagination") -->
  <%- include("../_partials/pagination") %>

  <% } else { %>
    <div>No Wishlists</div>
  <% } %>
</div>

<%- include('../_partials/modal') %>
